@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --dark-blue: #063489;
    --regular-blue: #0B5CF4;
    --alternative-blue: #084AC4;
    --white: #fff;
    --black: #181818;
    --grey: #D9D9D9;
    --dark-grey: #7A7A7A;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

header{
    padding: 1.56rem 3.13rem;
    background-color: var(--dark-blue);
}

.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-container p{
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
}

.header-container span{
    color: var(--regular-blue);
}

.header-container button{
    padding: 0.75rem 1.88rem;
    margin-left: 0.93rem;
}

.header-container button:hover{
    background-color: #fff;
    color: var(--regular-blue);
}

.logo-container{
    flex-grow: 1;
}
.buttons-container{
    display: flex;
    justify-content: end;
    flex-grow: 4;
}

.main-btn{
    background-color: var(--regular-blue);
    color: #fff;
    transition: 0.3s;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    font-weight: 700;
}

.main-btn:hover{
    background-color: #134FC2;
}

.header-container i{
    font-size: 1.88rem;
    color: var(--white);
    cursor: pointer;
    display: none;
}

nav{
    padding: 0.93rem 3.13rem;
    background-color: var(--alternative-blue);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-container{
    flex-grow: 1;
}

.nav-container lu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-container li a{
    color: #fff;
    margin-right: 1.56rem;
    transition: 0.5s;
}

.nav-container li a:hover{
    text-decoration: underline;
}

.searchbar-container{
    flex-grow: 4;
    display: flex;
    justify-content: end;
}

.searchbar-container input{
    padding: 0.62rem;
    width: 15.63rem;
    border: none;
    border-radius: 0.5rem;
}

.fa-magnifying-glass{
    color: var(--white);
    font-size: 1.5rem;
    margin-left: 0.75rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* Main */
main{
    margin: 1.88rem 2.5rem;
}

.title-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.88rem;
}

.fa-book-bookmark{
    color: var(--regular-blue);
    font-size: 2rem;
    margin-right: 0.5rem;
}

.contests-container{
    display: flex;
    flex-direction: row;
}

.mobile-filter{
    display: none;
}

.selection-container{
    flex-grow: 5;
    margin-right: 1.88rem;
}

/*box new contest*/
.new-contest{
    background-color: #dbdbdb;
    display: flex;
    flex-direction: row;
    padding: 1.25rem 1.50rem;
    border-radius: 0.73rem;
    transition: 0.3s;
    margin: 0rem 0rem 1.88rem 0rem;
    justify-content: left;
}

.new-contest img{
    flex-grow: 1;
    width: 9rem;
    height: 7.88rem;
    border-radius: 0.75rem;
    margin-right: 1rem;
}

.box-contest-info{
    flex-grow: 3;
    margin-right: 1rem;
    line-height: 2rem;
    font-size: 1.25rem;
}

.box-contest-info p{
    color: var(--dark-grey);
}

.box-contest-info div{
    background-color: var(--regular-blue);
    border: 0.1rem solid var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-size: 0.75rem;
    text-align: center;
    width: 5.25rem;
    height: 1.75rem;
    margin-top: 1rem;
}

.box-contest-options{
    flex-grow: 2;
}


/*filter aside*/
.filter-container{
    background-color: var(--grey);
    flex-grow: 1;
    padding: 1.88rem 0.12rem;
    border: 0.06rem solid #181818;
    border-radius: .75rem;
}

.searchbar-container{
    display: flex;
    margin: 0rem 0rem 1.25rem 0rem;
}

.searchbar-container input{
    width: 100%;
    padding: 0.62rem;
    border: none;
    border-radius: 0.5rem;
}
/*Footer*/

footer{
    padding: 1.56rem 3.13rem;
    background-color: var(--dark-blue);
}

.logo-footer p{
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
}

.logo-footer span{
    color: var(--regular-blue);
}

.socialmedia-links lu{
    display: flex;
    flex-direction: row;
}

.socialmedia-links li{
    color: var(--white);
    margin-right: 0.62rem;
}

.socialmedia-links span{
    color: var(--white);
    display: none;
}

.socialmedia-links li:hover{
    font-weight: 900;
}

.socialmedia-links{
    margin: 2.5rem 0rem;
}

.socialmedia-logos{
    margin: 1.88rem 0rem;
}

.socialmedia-logos i{
    color: var(--white);
    font-size: 2.5rem;
    margin-right: 1.25rem;
}

.socialmedia-logos i:hover{
    color: var(--regular-blue);
}

.copyright-footer{
    color: var(--white);
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

/* Responsividade */

@media(max-width: 720px){

    /* Header */
    nav{
        display: none;
    }
    .buttons-container{
        display: none;
    }
    .logo-container p{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-container i{
        display: flex;
    }

    /* Main */

    /* Footer */
    
    .socialmedia-links li{
        display: none;
    }
    .socialmedia-links span{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .socialmedia-logos, .logo-footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media(max-width: 380px){

    /* Header */
    header{
        padding: 1.56rem 0.93rem;
        background-color: var(--dark-blue);
    }
    .header-container i{
        display: flex;
        font-size: 1.88rem;
    }
    .header-container p{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.88rem;
    }
}